<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Qual filme procura?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-toolbar>
    <!-- Searchbar with a custom debounce -->
    <ion-searchbar
      #input
      animated
      debounce="600"
      placeholder
      type="text"      
      (ionChange)="pesquisar($event)">
    </ion-searchbar>
  </ion-toolbar>

<div *ngIf="filmes.length;else teste">
  <app-lista-filmes [filmes]="filmes"></app-lista-filmes>
</div>

  <ng-template #teste>
    <ion-content>
      <h6 style="text-align:center">Pesquise pelo nome do filme</h6>
      <ion-spinner #spinner name="crescent"></ion-spinner>
    </ion-content>
  </ng-template>





</ion-content>