<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Filme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card *ngIf="filme">
    <ion-toolbar>
      <ion-title>{{ filme.titulo }}</ion-title>
    </ion-toolbar>
    <img src="{{ filme.imagem }}" alt="">
    <span
      style="text-align:center;width: 100%;display: block;background-color: rgb(245, 245, 18);color:black;">{{filme.nota}}</span>
    <ion-card-header>

      <ion-card-subtitle>{{ filme.subtitulo }}</ion-card-subtitle>
      <ion-card-subtitle>Data Estreia {{ filme.dataEstreia }}</ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>
      {{ filme.resumo }}
    </ion-card-content>

    <ion-card-content>
      <ion-row>
        <ion-col size="4" *ngFor="let ator of listaAtoresComFoto">
          <img src="{{ filmesService.imgPathApi + ator.profile_path }}" alt="">
          {{ator.name}} | {{ ator.chapter }}
        </ion-col>
      </ion-row>
    </ion-card-content>

    <ion-card-content>
      <ion-toolbar>
        <ion-title>Filmes Similares</ion-title>
      </ion-toolbar>
      <ion-slides pager="true">

        <ion-slide *ngFor="let filmeSimilar of filmesSimilares">
          <img src="{{ filmesService.imgPathApi + filmeSimilar.poster_path }}" alt="">
        </ion-slide>

      </ion-slides>
    </ion-card-content>


  </ion-card>

</ion-content>